

.btn-line-height {
  line-height: 38px;
}

body {
  font-family: 'Lato';
  color: #767778;

  a {
    color: #EA502A;
    &:hover {
      color: #EA502A;
    }
  }

  .charis-panel {

    padding: 1em;

    h2 {
      font-size: 150%;
      padding: 1em 0;
    }

    .form-group {
      margin-top: 12px;
      margin-bottom: 0;
      &:first-child {
        margin-top: 0;
      }
    }

    .extra-padding {
      padding-top: 14px;
    }

    .gutter-left-plus {
      padding-left: 1.8em;
    }

    .mobile-separator {
      margin-top: 2em;
    }

    .btn-block + .btn-block {
      margin-top: 12px;
    }

  }

  .text-align-right {
    text-align: right;
  }

}
