body {
  @media (min-width: 767px) {

    .charis-panel {
      margin: 5em 0;
      padding: 1.5em;

      .mobile-separator {
        margin-top: 0;
      }

      .padding-right-zero {
        padding-right: 0;
      }

      .gutter-left-plus {
        padding-left: 1.8em;
      }
    }
  }
}
