
.form-group {
    input {
        &.form-control {
            border-radius: 5px;
            border-width: 2px;
            border-color: #DFDFDF;
            box-shadow: -10px 10px 30px -5px rgba(0,0,0,0.3);
            font-size: 13px;
            color: #575757;
        }
    }

    &.has-error {
        input {
            border-color: #EA502A;
            color: #EA502A;
        }
        .help-block {
            color: #EA502A;
        }
    }
}

.btn-caridadeonline.btn-primary {
    background-color: #EA502A;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
}
